<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><p>Home<p></a>
      </li>
      <li class="">
        <a href="/about"></span>About</a>
      </li>
      <li class="">
        <a href="/contact"></span>Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <% if (!session.user) { %>
          <a href="/login" id="user_button"></span> Login</a>
        <% } else{ %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= session.user.netid %></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        <% } %>     
      </li>
    </ul>
  </div>
</nav>
