
/* ---------------------------- General ---------------------------- */

:root {
  --main-bg-color: #DFDCE3;
  --second-color: #4ABDAC;
  --third-color: #FC4A1A;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
}

/* Source for button styling: 
   https://tympanus.net/Development/CreativeButtons/*/

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0px;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#main-page,  
#contact-page,
#create-chat-page, 
#search-chat-page {
  padding-top: 8em;
}

/* ---------------------------- Navbar ---------------------------- */

.navbar {
  background-color: #fff;
}

.navbar li .active {
  background-color: var(--second-color);
}

/* ---------------------------- Splash Page ---------------------------- */

#splash-page .jumbotron {
  background: var(--second-color);
  color: white;
  height: 100%;
  width: 100%;
  position:fixed; 
  padding: 200px;}

  #splash-page .jumbotron .btn {
    font-size: 1.5em;
    border: 3px solid #fff;
    color: #fff;
  }

  #splash-page .jumbotron .btn:hover,
  #splash-page .jumbotron .btn:active {
    color: var(--second-color);
    background: #fff;
    border-color: #fff;
  }

  #splash-page .jumbotron h1 {
    font-size: 7em;
    color: #fff;
    padding: 20px 5px;
    margin: 0em 0.7em 0.5em 0.7em;
    background-color: #3ca393;
    font-family: 'Roboto', sans-serif;
  }

  #splash-page .jumbotron p {
    color: #fff;
    max-width: 75%;
    margin: 1em auto 2em; 
    font-family: "Open Sans", sans-serif;}

/* ---------------------------- About page ---------------------------- */

#about-page{
  padding: 3em 0 3em 0;
  background: #fff;
}

#about-page .jumbotron {
  background: var(--second-color);
  color: white;
  width: 100%;
  padding: 40px;
  margin:0;
}

#about-page .jumbotron h2 {
  font-size: 3em;
  color: #fff;
  padding: 5px 5px;
  font-family: 'Roboto', sans-serif;
}

#about-page .jumbotron p {
  color: #fff;
  max-width: 75%;
  margin: 0.5em auto 0.5em; 
  font-family: "Open Sans", sans-serif;
}

#about-page h3 {
  color: var(--second-color);
  padding: 1em 0 0.2em 0;
  font-weight: 700;
}

#about-page h4 {
  font-weight: 800;
}

#about-page p {
  margin-bottom: 2em;
}

#about-page a {
  color: #666;
}

#about-page a:hover {
  color: #888;
}

#about-page i {
  margin: 0 4px 0 4px;
}
/* ---------------------------- Main page ---------------------------- */

.main-panel {
  padding: 5em;
  background-color: #fff;
}

  .main-panel .btn {
    font-size: 1.2em;
    border: 3px solid var(--second-color);
    color: var(--second-color);
  }

  .main-panel .btn:hover,
  .main-panel .btn:active {
    color: #fff;
    background: var(--second-color);
    border-color: var(--second-color);
  }

  .main-panel #netid {
    color: var(--third-color);
  }

  .main-panel h2 {
    margin-bottom: 1em;
  }
  .main-panel h4 {
    margin-bottom: 2em;
  }

/* ---------------------------- Create Chat Page ---------------------------- */

#create-chat-page .button-holder { 
  text-align: center; 
}

#create-chat-page input {
  border-radius: 0;
}

/* ---------------------------- Search Chat Page ---------------------------- */

#search-chat-page .list-group-item {
  border-radius: 0;
  font-size: 1.2em;
  border-style: none;
  background-color: var(--second-color);
  color:#fff;
  margin-bottom: 4px;
  border: 3px solid var(--second-color);
}

#search-chat-page .list-group-item {
  padding: 25px 25px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#search-chat-page .list-group-item:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#search-chat-page .list-group-item:hover {
  background-color: var(--main-bg-color-color);
  /*border: 3px solid var(--second-color);*/
  color: var(--second-color);
}

/* ---------------------------- Chat page  ---------------------------- */
#chat-page {
  padding-top: 4em;
  padding-bottom: 7em;
}

.message-container {
  position: fixed;
  top:0;
  bottom:0;
}

#messages { 
  list-style-type: none; 
  margin-top: 4em; 
  padding: 0; 
}

#messages li { 
  padding: 15px 20px; 
  margin: 0.5em;
  border-radius: 15px;
  min-width: 200px;
  max-width: 70%;
  word-wrap: break-word;
}

#messages p {
  margin: 5px 0 5px 0;
}

#messages .other {
  background: #fff;
  float: left;
  clear: both;
}
  #messages .other b {
    color: var(--second-color);
  }
  
#messages .mod b {
  color: var(--third-color);
}

#messages .mod span {
  margin-right: 5px;
}

#messages .me { 
  background: var(--second-color);
  color: #fff; 
  float: right;
  clear: both;
}
  #messages .me b {
    color: #fff;
  }

#messages .status {
  margin: 0.1em;
  padding: 0.1em;
  clear: both;
  float: center;
  max-width: 100%;
}

#messages a {
  margin-right: 3px;
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
  -webkit-filter: brightness(100%);
}

#messages a:hover {
  -webkit-filter: brightness(70%);
}

/* Message box */
#chat-page footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: var(--main-bg-color);
  height: 100px;
}

#chat-page form {
  position:relative;
  width: 100%;
  margin: 3px auto;
  background-color: #fff;
  border: 2px solid var(--main-bg-color);
}

#chat-page form button { 
  position:absolute;
  top: 0px;
  right:0px;
  bottom: 0px;
  width: 7%; 
  background: #fff; 
  font-size: 2em;
  color: var(--second-color);
  border: none; 
  padding: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}

#chat-page form button:hover {
  color: #555;
}

#chat-page form #m {
  position:relative;
  background-color: #fff;
  width: 93%;
  height: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border:none;
  font-size: 16px;
  resize: none;
}

#chat-page #chat-title-holder {
  position: fixed;
  margin-top: -0.5em;
  width:100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #888;
  color: #fff;
  z-index: 1;
}

#chat-page #user-count {
  float:right;
  display:inline-block;
}

#chat-page #chat-title {
  float:left;
}