
:root {
  --main-bg-color: #DFDCE3;
  --second-color: #4ABDAC;
  --third-color: #FC4A1A;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);/*#DFDCE3*/
}

/* ---------------------------- Jumbotron ---------------------------- */

.jumbotron {
  background: var(--second-color);
  color: white;
  height: 100%;
  width: 100%;
  position:fixed; 
  padding: 200px;}

  .jumbotron .btn {
    font-size: 1.5em;
    border: 3px solid #fff;
    color: #fff;
  }

  .jumbotron .btn:hover,
  .jumbotron .btn:active {
    color: var(--second-color);
    background: #fff;
    border-color: #fff;
  }

  .jumbotron h1 {
    font-size: 7em;
    color: #fff;
    padding: 20px 5px;
    margin: 0em 0.7em 0.5em 0.7em;
    background-color: #3ca393;
    font-family: 'Roboto', sans-serif;
  }

  .jumbotron p {
    color: #fff;
    max-width: 75%;
    margin: 1em auto 2em; 
    font-family: "Open Sans", sans-serif;}


/* Source for button styling: https://tympanus.net/Development/CreativeButtons/*/

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0px;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------------- Main page ---------------------------- */

#main-page {
  padding-top: 8em;
}

.main-panel {
  padding: 5em;
  background-color: #fff;
}

  .main-panel .btn {
    font-size: 1.2em;
    border: 3px solid var(--second-color);
    color: var(--second-color);
  }

  .main-panel .btn:hover,
  .main-panel .btn:active {
    color: #fff;
    background: var(--second-color);
    border-color: var(--second-color);
  }

  .main-panel #netid {
    color: var(--third-color);
  }

  .main-panel h2 {
    margin-bottom: 1em;
  }
  .main-panel h4 {
    margin-bottom: 2em;
  }

/* ---------------------------- Create Chat Page ---------------------------- */
#create-chat-page {
  margin-top: 8em;
}

#create-chat-page .button-holder { 
  text-align: center; 
}

/* ---------------------------- Chat page  ---------------------------- */
#chat-page {
  padding-top: 3em;
  padding-bottom: 7em;
}

.message-container {
  position: fixed;
  top:0;
  bottom:0;
}

#messages { 
  list-style-type: none; 
  margin-top: 2em; 
  padding: 0; 
}
#messages li { 
  padding: 15px 20px; 
  margin: 0.5em;
  border-radius: 15px;
  min-width: 200px;
  max-width: 70%;
  word-wrap: break-word;
}
#messages .other {
  background: #fff;
  float: left;
  clear: both;
}
  #messages .other b {
    color: var(--second-color);
  }
#messages .me { 
  background: var(--second-color);
  color: #fff; 
  float:right;
  clear:both;
}
  #messages .me b {
    color: #fff;
  }

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  /*padding-top: 30px;*/
  background-color: var(--main-bg-color);
  height: 100px;
}

#chat-page form {
  position:relative;
  width: 100%;
  margin: 3px auto;
  background-color: #fff;
  border: 2px solid var(--main-bg-color);
}

#chat-page form button { 
  position:absolute;
  top: 0px;
  right:0px;
  bottom: 0px;
  width: 7%; 
  background: #fff; 
  font-size: 2em;
  color: var(--second-color);
  border: none; 
  padding: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}

#chat-page form button:hover {
  color: #555;
}

#chat-page form #m {
  position:relative;
  /*background-color: #f9f9f9;*/
  background-color: #fff;
  width: 93%;
  height: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border:none;
  font-size: 16px;
  resize: none;
}