
<!doctype html>
<html>
  <head>
    <title>Lecture Chat - Create</title>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <%- include('../partials/nav', {active: 'about'}) %>
    <div class="text-center" id="about-page">
      <div class="jumbotron">
        <h2>Princeton Lecture Chat</h2>
        <p>A student-made online interaction application for lectures</p>
      </div>
      <div class="container">
        <div class="row">
          <h3 class="text-center" id="main-message">About Princeton Lecture Chat</h3>
          <p>This application is currently being made by Bensu Sicim '19 as a COS Independent Work project.</p>
          <h3>Acknowledgements</h3>
          <h4>Dr. Robert S. Fish</h4>
          <p>COS Junior Independent Work Adviser, Spring 2018</p>
          <h4>COS - IW05 Seminar</h4>
          <p>COS IW05: "Helping Future Computer Science Students Learn Computer Science" Spring 2018</p>
          <h3>Links</h3>
          <a href="https://github.com/bnsuoh/LectureChat" target="_blank"><i class="fab fa-github fa-3x"></i></a>
          <a href="https://docs.google.com/document/d/1BaUhs7Chk2Gxk8RP6QeMmZwrpwuTDHzKf8vqhvp7qgY/edit?usp=sharing" target="_blank"><i class="fa fa-file-alt fa-3x"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>