
<!doctype html>
<html>
  <head>
    <title>Lecture Chat - Create</title>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <%- include('../partials/nav', {active: 'about'}) %>
    <div class="text-center" id="about-page">
      <div class="container main-panel">
        <div class="row">
          <h3 class="text-center" id="main-message">Under construction...</h3>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>