<!DOCTYPE html>
<html>
<head>
  <title>Lecture Chat - Home</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <%- include('../partials/nav', {active: 'home'}) %>
  <div class="text-center" id="main-page">
    <div class="container text-center main-panel">
      <row>
        <h2>Hello there, <span id=netid><%= session.user._id %></span>!</h2>
        <h4>Your anonymous alias is <span id=alias><%= session.user.alias %></span>. Please continue by choosing an option from below:</h4>
        <a type="button" class="btn btn-lg btn-default" id="createButton" href="/create">Create a New Chat</a>
        <a type="button" class="btn btn-lg btn-default" id="findButton" href="/search">Find an Existing Chat</a>
      </row>
    </div>
  </div>
  <script src="../scripts/app.js"></script>
</body>
</html>
