<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <script></script>
  <div class="container">
    <p>Hello there, <%= session.user.netid %>!</p>
  </div>
</body>
</html>
