
<!doctype html>
<html>
  <head>
    <title>Lecture Chat - Chatroom</title>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

      <div id="chat-page">
        <div id="chat-title" class="container col-md-6 col-md-offset-3">
          <h4> <%= chatroom %> </h4>
        </div>
        <div id="message-container" class="container">
          <ul id="messages"></ul>
        </div>
        
        <footer>
          <div id="message-box" class="container">
            <form action="">
              <button><span class="glyphicon glyphicon-send"></span></button>
              <textarea type="submit" id="m" autocomplete="off"></textarea>
            </form>
          </div>
        </footer>
      </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/chat.js"></script>
  </body>
</html>