<!DOCTYPE html>
<html>
<head>
  <title>Lecture Chat - Home</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <%- include('../partials/nav', {active: 'home'}) %>
  <div class="jumbotron text-center">
    <div class="container">
      <!-- <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a> -->
      <h1>Lecture Chat</h1>
      <p>This is an application that allows asking anonymous questions during lectures. 
      Login with CAS to start using Lecture Chat.</p>
      <a type="button" class="btn btn-lg btn-default" href="/login">Login</a>
    </div>
  </div>
  <div class="container">
  </div>
  </body>
</html>
